<!DOCTYPE html>
<html>

<head>
<meta charset="utf-8" />
<title>Moja strona</title>
<meta name="author" content="" />
<meta name="description" content="" />
<meta name="viewport" content="width=device-width, initial-scale=1" />

<link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre.min.css">
<link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre-exp.min.css">
<link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre-icons.min.css">

</head>

<body>
<div class="container">
    <header class="navbar">
      <section class="navbar-section">
          <a href="#" class="navbar-brand mr-2">MAGAZYN</a>
          <a href="#" class="btn btn-link">Strona główna</a>
          <a href="#" class="btn btn-link">Historia</a>
      </section>
    </header>

    <main>
        <h1>Historia operacji od {{context.start}} do {{context.stop}}</h1>

    </main>

    <footer>

    </footer>
</div>


</body>

</html>